{% extends 'base.html.twig' %}

{% block title %}Hello CreateArticle
{% endblock %}

{% block body %}

<main>

<a href="{{path('admin_article_index')}}">Page d'accueil</a>
<a href="{{path('admin_article_create')}}">Page creation article</a>
</main>
{% endblock %}